*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

nav{
    position: fixed;
    padding: 30px;
    box-shadow:0px 0px 8px rgba(0,0,0,0.3);
    width: 100%;
    text-align: center;
    background: #fff;
    
    span{
        display:inline-block;
        padding: 5px 50px;
        cursor: pointer;
    }
}

section {
    height: 100vh;
    background: 	#F2E6E6;
    font-size: 50px;
    text-align: center;

    &:nth-last-of-type(2){
        background: #ECF5FF;
    }
    &:nth-last-of-type(3){
        background:	#FFFAF4;
    }
}

#toTop {
    position: fixed;
    right:30px;
    bottom: 30px;
    cursor:pointer;
    background: 	#ADADAD;
    border-radius: 25px;
    padding: 10px;
}